* {
   margin: 0px;
   padding: 0px;
   font-family: 'Roboto';
}

a {
   text-decoration: none;
} 


.navbar {
   height: 20vh;
   box-shadow: 0 4px 6px -6px #999;
}

.branding {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   padding-left: 2em;
}

.logo {
   width: 20vh;
}


.logo-title {
   font-size: 2.2em;
   color: #660c0c;
   font-weight: bolder;
   letter-spacing: 2.5px;
   ;
}
#mid-section {
   margin: 2rem;
   min-height: 100vh;
   box-shadow: 0px 20px 10px #9d9d9d;
}

.result-heading {
   padding-left: 40px;
}

.result-heading span {
   font-family: 'Titillium Web', sans-serif;
   font-size: 25px;
}

.result-res-image{
  width:100%;
  height:400px;
  background-color:#cccccc;
}

.name-and-share{
   width: 100%;
   height: 115px;  
}

.rest-info {
   margin-left: 35px;
   margin-top: 20px;
   float: left;
   font-family: 'Titillium Web', sans-serif;  
}

.rest-name {
   font-size: 22px;
}

.ratings span:nth-child(1) {
   font-size: 28px;
   padding-right: 5px;
   color: #9b9b9b;
}

.ratings span:nth-child(2) {
   font-size: 18px;
}

.ratings span:nth-child(3) {
   font-size: 13px;
   padding-left: 2px;
   padding-right: 10px;
}

.ratings span:nth-child(4) {
   font-size: 20px;
   color: #9b9b9b;
   padding-right: 10px;
}

.ratings span:nth-child(5) {
   font-size: 19px;
}

.share{
   left: 0px;
   padding: 26px 0px 0px 650px;
}

.share a{
   background-color:#d8d8d8;
   border-radius:28px;
   border:1px solid #9b9b9b;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family: 'Titillium Web', sans-serif;
   font-size:15px;
   padding:0px 24px;
   text-decoration:none;
}

hr {
   width: 94.9%;
   margin: auto;
}

.cost-and-address{
   margin-top: 30px;
   padding-left: 40px;
   margin-bottom: 20px;
   max-width: 330px;
   font-family: 'Titillium Web', sans-serif;
}

.cost{
   margin-bottom: 20px;
}

.cost p:nth-child(1), .address p:nth-child(1){
   font-size: 14px;
   padding-bottom: 5px;
   color: #a5a5a5;
}

.address p:nth-child(2){
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.photos-div{
   padding-left:30px;
   overflow: hidden; 
   font-size: 20px;

}

.photos-heading{
   margin-top:20px;
   margin-bottom: 20px;
   font-family: 'Titillium Web', sans-serif;
   font-size: 20px;
}

.photos-container{
   height: 108px;
}

.photos{
   background-color: #cccccc;
   float: left;
   height: 108px;
   width: 137px;
   margin-right: 20px;   
}

.photos-number{
   text-align: center;
   vertical-align: middle;
   line-height: 108px;
   font-size: 20px; 
}

.menu-bar{
   height: auto;
   font-size: 20px;
   padding-left: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   overflow: hidden;
   clear: both;
}

.menu-heading{
   height: auto;
   width: 137px;
   float: left;
   font-size: 20px; 
}

.menu-item-container{
   height: auto;
   width: auto;
   float: left;
   margin-left: 20px;
}

.menu-item p:nth-child(1){
   font-size: 20px;
}

.menu-item p:nth-child(2){
   font-size: 14px;
   color: #a5a5a5;
}

.menu-item{
   margin-bottom:60px; 
}

.rating-bar{
   padding-left: 10px;
   margin: 20px 20px 0px 20px;
   overflow: hidden;
}

.rating-heading{
   width: 100%;
   height: 50px;
   font-size: 20px;
}

.user-reviews-info {
   width: 100%;
   clear: both;
   margin: auto;
}

.user-bar{
   height: 250px;
   width: 12%;
   float: left;
}

.user-image{
   height: 70px;
   width: 70px;
   border: 1px solid #9b9b9b;
   background-color: #cccccc;
   border-radius: 50%;
   float: left;
}

.user-information-bar{
   height: 250px;
   width: 85%;   
   float: left;
   margin-left: 20px;
   overflow: hidden;
}

.user-name{
   width: inherit;
   height: 30px;
   font-size: 20px;
}

.user-star{
   font-size: 28px;
   padding-right: 5px;
   color: #9b9b9b;
}

.user-comment p:nth-child(1){
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 20;
   -webkit-box-orient: vertical;
}